<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteRule ^zencart/(.*) http://bvsnowmobile.com/rentals.html [R=301,L]


redirect 301 /webcam.html http://www.bvsnowmobile.com/
redirect 301 /webcam.php http://www.bvsnowmobile.com/

redirect 301 /store.html http://www.bvsnowmobile.com/

redirect 301 /booking/admin.php http://www.bvsnowmobile.com/reservations/admin.php

redirect 301 /aboutbv.php http://www.bvsnowmobile.com/about-bear-valley/

redirect 301 /classifieds.php http://www.bvsnowmobile.com/garage-sale/

redirect 301 /contact.php http://www.bvsnowmobile.com/contact/
redirect 301 /green.php http://www.bvsnowmobile.com/how-green-are-we/

#redirect 301 /rentals.html http://www.bvsnowmobile.com/reservations/

#redirect 301 /rentals.php http://www.bvsnowmobile.com/reservations/

#redirect 301 /rentals/ http://www.bvsnowmobile.com/reservations/

redirect 301 /reservations/ http://www.bvsnowmobile.com/rentals/

redirect 301 /safety.php http://www.bvsnowmobile.com/safety-tips/

redirect 301 /service.php http://www.bvsnowmobile.com/ski-doo-service/
redirect 301 /snowmobilesales.php http://www.bvsnowmobile.com/ski-doo-sales/

redirect 301 /charity.php http://www.bvsnowmobile.com/charity/

redirect 301 http://www.bvsnowmobile.com/swnomobiles-with-mountains-in-background/ http://www.bvsnowmobile.com/

redirect 301 http://www.bvsnowmobile.com/enter-for-your-chance-to-win-by-the-16th/ http://www.bvsnowmobile.com/

redirect 301 http://www.bvsnowmobile.com/chasing-sled/ http://www.bvsnowmobile.com/

redirect 301 http://www.bvsnowmobile.com/poker-run-2/ http://www.bvsnowmobile.com/

redirect 301 http://www.bvsnowmobile.com/the-family-that-plays-together-stays-together/ http://www.bvsnowmobile.com/

redirect 301 http://www.bvsnowmobile.com/photos  http://www.bvsnowmobile.com/videos

redirect 301 http://www.bvsnowmobile.com/garage-sale/ http://www.bvsnowmobile.com/

redirect 301 http://www.bvsnowmobile.com/classifieds/ http://www.bvsnowmobile.com/

</IfModule>