<ul class="trail-update">
    <li> Alpine Trail – CLOSED</li>
    <li>Spicer Trail – CLOSED</li>
    <li>Bear Valley Trail – CLOSED Thurs-Sun</li>
    <li>Bear Valley Access Trail – (No Rentals)</li>
</ul>
